body{
	height:100%;
	width:100%;
}

figure{
   max-width:640px;
   width:100%;
   max-height:360px;
   height:100%;
   margin:10px auto;
   padding: 20px;
   padding-bottom:40px;
   background-color:#555;
}

video{
	width:640px;
	height:360px;
}

#player{
	position:relative;
	width:640px;
	height:360px;
}

#video-hover{
	position:absolute;
	top:20%;
	left:35%;
	z-index:10;
}

#video-hover .hover-img{
	height:200px;
}

#video-controls{
	width:100%;
	height:8%;
	position:relative;
}

#video-controls > * {
    float:left;
    height:100%;
    margin-left: 10px;
    margin-top: 5px;
    display:block;
}

#video-controls button {
	text-align:center;
	overflow:hidden;
    text-indent:-999px;
    width:28px;
    height: 28px;
    border:none;
    cursor:pointer;
    background:transparent;
    background-size:contain;
    background-repeat:no-repeat;
}

#video-controls button:hover, #video-controls button:focus {
   opacity:0.7;
}

#video-controls #replay-button{
	background-image: url(../images/replay-btn.png);
}

#video-controls #play-pause-button[data-state="play"]{
	background-image: url(../images/play-btn.png);
}

#video-controls #play-pause-button[data-state="pause"]{
	background-image: url(../images/pause-btn.png);
}

#video-controls #stop-button{
	background-image: url(../images/stop-btn.png);
}

#video-controls #mute-button[data-state="mute"]{
	background-image: url(../images/mute-btn.png);
}

#video-controls #mute-button[data-state="unmute"]{
	background-image: url(../images/unmute-btn.png);
}

#video-controls .progress {
   cursor:pointer;
   width:50%;
}

#video-controls .progress #progress-bar{
   display:block;
   width:100%;
   height:81%;
   margin-top:5px;
   border:none;
   color:#FF3333;
   -moz-border-radius:2px;
   -webkit-border-radius:2px;
   border-radius:2px;
}

#video-controls .progress #progress-bar::-webkit-progress-value{
	background-color:#FF3333 !important;
}

#video-controls .progress #progress-bar::-moz-progress-bar{
	background-color: #FF3333 !important;
}

#video-controls #volume-bar{
	cursor:pointer;
	width:20%;
	margin-top: 12px;
}

#video-controls #volume-bar::-moz-range-thumb{
	background-color:#ff3333;
}